html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

img {
  display: block;
}

.loading {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  background-color: black;
  font-size: xx-large;
  z-index: 2;
}

.player {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 750px;
  width: 600px;
  overflow: hidden;
}

.master {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.mzq {
  display: grid;
  grid-template-columns: repeat(15, max-content);
}

.mzq img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}